* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(35, 58, 4);
}

body {
    background-color: rgba(201, 221, 200, 0.877);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Lilita One', sans-serif;
}

h1 {
    text-align: center;
    padding: 30px;
    font-size: 80px;
}

.bienvenida {
    display: flex;
    text-align: center;
    padding: 20px;
}

.inversiones {
    display: flex;
    max-width: 100%;
    margin-bottom: 30px;
}

.inversion,
.simulador,
.cartera,
.calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartera {
    margin-bottom: 30px;
    font-size: 50px;
}